.wrapper {
  max-width: 46rem;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  margin-top: calc(0px - 1.5rem - 4px);
}

.form input {
  flex: 1;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  line-height: 1.4;
  color: var(--gray-100);
}

.form input::placeholder {
  color: var(--gray-300);
}

.form input:focus {
  border-color: var(--purple-dark);
}

.form button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  margin-left: 8px;
  background: var(--blue-dark);
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  color: var(--gray-100);
  border: 0;

  transition: background-color 0.1s;
}

.form button[type=submit]:hover {
  cursor: pointer;
  background: var(--blue);
}